<p style="color: green"><%= notice %></p>

<% partial_path = "#{@person.type.downcase.pluralize}/#{@person.type.downcase}" %>
<%= render partial: partial_path, locals: { @person.type.downcase.to_sym => @person } %>

<div>
  <%= link_to "Back to people", people_path, class: "button" %>
</div>
