<% content_for :title, "New Student" %>

<div class="container">
  <h1>New Student</h1>

  <%= render "form", student: @student %>

  <div class="actions mt-4">
    <%= link_to "Back to people", people_path, class: "button" %>
  </div>
</div> 