<% content_for :title, "Edit Subject: #{@subject.name}" %>

<div class="space-y-6">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">Edit Subject: <%= @subject.name %></h1>
    <div class="flex space-x-2">
      <%= render 'shared/button', 
        text: "View Details", 
        icon: "fa-solid fa-eye",
        color: "outline-purple", 
        href: subject_path(@subject) %>
        
      <%= render 'shared/button', 
        text: "Back to Subjects", 
        icon: "fa-solid fa-arrow-left",
        color: "outline-gray", 
        href: subjects_path %>
    </div>
  </div>

  <%= render "form", subject: @subject %>
</div>
